@model Drink_Wholesale.Models.SubCategory

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

@* <div>
    <h4>SubCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
    </dl>
</div> *@
<table class="table">
    <thead>
        <tr>
            <th>
                Leírás
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["ProducerSortParam"]" >Gyártó</a>
            </th>
            <th>
                Cikkszám
            </th>
            <th>
                Raktárkészlet
            </th>
            <th>
                Nettó ár
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["PriceSortParam"]">Brutóó ár</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetPrice) Ft
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetPrice) Ft
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
