@* @model Drink_Wholesale.Models.SubCategory *@
@using X.PagedList.Mvc.Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/css/site.min.css
" rel="stylesheet" />
@model X.PagedList.IPagedList<Drink_Wholesale.Web.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Details";
}

@* <h1>@Html.DisplayFor(model => model.Name)</h1> *@

<h1>@ViewData["Name"]</h1>
@* <div>
    <h4>SubCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
    </dl>
</div> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(item=> item[0].Product!.Description)
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["ProducerSortParam"]">Gyártó</a>
            </th>
            <th>
                Cikkszám
            </th>
            <th>
                Raktárkészlet
            </th>
            <th>
                Nettó ár
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewData["PriceSortParam"]">Bruttó ár</a>
            </th>
            <th>
                Elérhető kiszerelések
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product!.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product!.Producer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product!.ArtNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product!.Inventory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product!.NetPrice) Ft
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrossPrice) Ft
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product!.Packaging)
                </td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product!.Id">Részletek</a> |
                    @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
Oldal @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) a(z) @Model.PageCount ből

@Html.PagedListPager(Model, page => Url.Action("Details",
            new { page }), new PagedListRenderOptions{LinkToPreviousPageFormat = "Előző", LinkToNextPageFormat = "Következő", DelimiterBetweenPageNumbers = "|", })

@* <h3>Default Paging Control</h3>
@Html.PagedListPager(Model, page => Url.Action("Details", new { page = page }))

<h3>Minimal Paging Control</h3>
@Html.PagedListPager(Model, page => Url.Action("Details", new { page = page }), PagedListRenderOptions.Minimal)

<h3>Minimal Paging Control w/ Page Count Text</h3>
@Html.PagedListPager(Model, page => Url.Action("Details", new { page = page }), PagedListRenderOptions.MinimalWithPageCountText)

<h3>Minimal Paging Control w/ Item Count Text</h3>
@Html.PagedListPager(Model, page => Url.Action("Details", new { page = page }), PagedListRenderOptions.MinimalWithItemCountText)

<h3>Page Numbers Only</h3>
@Html.PagedListPager(Model, page => Url.Action("Details", new { page = page }), PagedListRenderOptions.PageNumbersOnly)

<h3>Only Show Five Pages At A Time</h3>
@Html.PagedListPager(Model, page => Url.Action("Details", new { page = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime) *@
@* <div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
