@using Drink_Wholesale.ViewModels
@model Drink_Wholesale.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.Name)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossPrice)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inventory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Packaging)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Packaging)
        </dd>
    </dl>
    
    @using (Html.BeginForm())
    {
        @*         <div>
            @Html.TextBoxFor()
        </div> *@
        //<select asp-for="Packaging" asp-items="Html.GetEnumSelectList<Packaging>()"></select>
        @Html.DropDownListFor(m=> m.SelectedPackaging,new SelectList(Enum.GetValues(typeof(Packaging))))
        <input type="submit" value="order"/>
    }
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> | *@
    <a asp-action="Index">Back to List</a>

</div>
